<!-- unused -->

<!-- create blocks to fill with other htmls 
    like: {% block inhalte %} 
          {%endblock %}                         
-->

<!-- in other html sides: 
     {% extends 'firstapp/base.html' %}
     {% block inhalte %} 
     {% endblock %}   
-->

<!-- main code -->
{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="author" content="Vincent Wehr, Federica Faßbender">
    <meta name="keywords" content="Hausarbeit,Praktikum">
    <meta charset="UTF-8"/>

    <!-- Bootstrap, scale for mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Source -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
          crossorigin="anonymous">
</head>
<body>
     {% block body %}
     {% endblock %}
</body>
     {% block css %}
     {% endblock %}
     {% block javascript %}
     {% endblock %}
<!-- Bootstrap functionality -->
<script 
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
	crossorigin="anonymous">
</script>

</html>
