{% extends 'firstapp/base.html' %}
{% load static %}
{% block title %}User Login{% endblock title %}

{% block body %}
<div class="d-flex flex-row align-items-center px-4">
  <div>
    <img class="logo noHover" src="{% static 'images/logo-noBG.png'%}" alt="ASDSAD" />
  </div>
  <div>
    <h1 class="noHover" id="headTitle"><b> SimpleSlot </b></h1>
  </div>
</div>

  <div class="text-center">
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
  </div>

<!--credits: https://getbootstrap.com/docs/5.2/examples/heroes/-->
<div class="container col-xl-8 px-5 py-5" style="margin-bottom: 50px">
  <div class="row align-items-center px-5 py-5">
    <div class="col-lg-6 text-center text-lg-start">
      <h1 class="display-4" style="font-family: Georgia"><b>Login</b></h1>
      <p class="col-lg-10 fs-4">
        Log into a new world of the TU and experience real beauty and functionality, today!
      </p>
    </div>
    <div class="col-lg-6 mx-auto col-lg-6">
      <div class="text-center mt-5">
        <form action="" method="post">
          {% csrf_token %}
          <div class="input-group mb-4">
            <span class="input-group-text blue w35px"><i class="fa fa-user"></i></span>
            <input type="text" name="username" class="form-control" placeholder="Username" required />
          </div>
          <div class="input-group mb-4">
            <span class="input-group-text blue w35px"><i class="fa fa-lock"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Passwort" required />
          </div>
          <button type="submit" class="btn btn-primary btn-lg round" style="padding:10px 80px">Login</button>
        </form>
        <div class="text-center mt-2">
          <p><b>No account yet?</b></p>
          <a class="btn btn-secondary round" href="{% url 'Register' %}" role="button">Register</a>  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- new feature project -->
<div class="container col-xl-8 px-5 py-5">
  <h2 style="font-family: Georgia">Features</h2>
</div> 
<div class="container" id="featured-3">
  <div class="row row-cols-1 row-cols-md-3 align-items-stretch ">
    <div class="feature col" style="background-color: rgb(31, 106, 172,0.25)">
      <h3><b>Student</b></h3>
      <p>Login and Register. Become a strong member of the united network of the TU!</p>
    </div>
    <div class="feature col" style="background-color: rgb(25, 122, 25,0.25)">
      <h3><b>Prof</b></h3>
      <p>Overview over all resources, users and reservations.</p>
    </div>
    <div class="feature col" style="background-color: rgb(31, 106, 172,0.25)">
      <h3><b>Student</b></h3>
      <p>Reserve all resources of the TU for your own research, projects and experiments. </p>
    </div>
  </div>
</div>

{% endblock body %}

{% block css %}
<style>
  /* @media (min-width: 576px){ */
  #headTitle {
    color:rgb(0, 194, 194);
    padding: 30px 100px;
    font-size: 60px;
    text-align: center;
  }
  body {
    background-image: url('../../static/images/laptop-typing.webp');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /* background-size: auto 100%; */
    background-size:cover;
  }
  .feature {
    padding: 50px 110px 30px!important;
  }
</style>
{% endblock css %}

{% block javascript %}
<script>
  
</script>
{% endblock javascript %}