{% extends 'firstapp/base.html' %}

{% block title %}Profile Edit{% endblock title %}

{% block body %}
<h1 id="sitename">Account Info</h1>
<nav>
   <a href="{% url 'homestudi' %}">Homepage</a>
   | <a href="{% url 'profile' user.id %}">Profile</a>
   | <a href="{% url 'password_change' %}">Change Password</a> 
   | <a href="{% url 'Logout' %}">Logout</a>
</nav>

<div class="text-center">
   <div class="col justify-content-center">
      <div><h3>Update Profile</h3></div>
      <br>
      
      <div><ul><li>Username: {{user.username}} </li></ul></div>
      
      <div class="form-wrapper">
         <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{user_form.as_p}}
            {{user_profile_form.as_p}}
            {% comment %} {% for field in form %}
            <div class="fieldWrapper">
               {{ field.errors }}
               {{ field.label_tag }} {{ field }}
               {% if field.help_text %}
               <p class="help">{{ field.help_text|safe }}</p>
               {% endif %}
            </div>
            {% endfor %} {% endcomment %}


            <div class="button-wrapper submit">
               <input class="btn btn-primary btn-lg" type="submit" value="Update" />
            </div>
         </form>
      </div>
   </div>
</div>

{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}