{% extends 'firstapp/base.html' %}

{% block title %}Change Password{% endblock title %}

{% block body %}
<h1 id="sitename">Change Password</h1>
<nav>
  <a href="{% url 'homestudi' %}">Homepage</a>
  | <a href="{% url 'profile' user.id %}">Profile</a>
  | <a href="{% url 'profile_update' user.id %}">Edit</a>
  | <a href="{% url 'Logout' %}">Logout</a>
</nav>

<div class="text-center">
 <form action="{% url 'password_change' %}" method="POST">
  {% csrf_token %}

  {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endfor %}

  {% for field in form %}
    <div class = "form-group">
      {{ field.label}}
      {{ field }}
    </div>
    
    {% if field.errors %}
      <div class="alert alert-danger">
        {{field.errors}}

      </div>
    {% endif %}
  {% endfor %}
  <br>
  <button type="submit" class="btn btn-primary">change password</button>
  
 </form>
</div>
{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}