{% extends 'firstapp/base.html' %}
{% load static %}

{% block title %}New Ressource{% endblock title %}

{% block body %}
  <h1 id="sitename"><b>New Cluster-Resource</b></h1>
  <nav>
    <a href="{% url 'Übersicht' %}">Homepage</a>
  </nav>

  <div class="row">
    <div class="w-25 mx-md-auto">
      <form action= "" method="post">
          {%csrf_token%}
          {{form.as_p}}
          <input type = "submit" id="addToMain" class="btn btn-primary">
        </form> 
    </div>
  </div>  
{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}

