{% extends 'firstapp/base.html' %}


{% block title}
its done
{% endblock title}

{% block body %}
<h1 id="sitename"> Password has been changed</h1>
<nav>
    <a href="{% url 'homestudi' %}">Homepage</a>
    | <a href="{% url 'profile' user.id %}">Profile</a>
    | <a href="{% url 'profile_update' user.id %}">Edit</a>
    | <a href="{% url 'Logout' %}">Logout</a>
</nav>
<!-- <h5 style="text-align:center"><a href='{% url "Login" %}'>login</a></h5> -->
<h4 class="text-center">&#11161 &#11161 &#11161 &#11161</h4>
<h5 class="text-center">New password accepted, you can now leave.</h5>
{% endblock body %}

{% block css %}
  <style>

  </style>
{% endblock css %}

{% block javascript %}
  <script>

  </script>
{% endblock javascript %}